<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>

<div class="text-right">
    <a class='btn btn-info ' (click)='onBack()' style='width:80px'>
        Back
    </a> &nbsp;
    <a class='btn btn-info ' (click)='onRefresh()' style='width:80px'>
        Refresh
    </a>
</div>

<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='table-responsive'>

        <table class='table'>
            <thead>
                <th>Date</th>
                <th>Status</th>
                <th>Message</th>
            </thead>

            <tbody>
                <tr *ngFor="let log of logs | sortBy: 'date' : true">
                    <td>
                        {{ log.date | date:'dd/MM HH:mm' }}
                    </td>
                    <td>
                        {{log.type}}
                    </td>
                    <td>
                            {{log.message}}
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>

</div>