<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>

<span class="label label-custom pull-left">Date</span>
<div class="form-group">
  <textarea class="form-control" rows="1" style="min-width: 100%">
  {{servedRequest.date | date : 'dd/MM HH:mm'}}
</textarea>
</div>

<span class="label label-custom pull-left">Match</span>
<div class="form-group">
  <textarea class="form-control" rows="1" style="min-width: 100%">
  {{servedRequest.matches}}
</textarea>
</div>

<span class="label label-custom pull-left">Request</span>
<div class="form-group">
  <textarea class="form-control" rows="40" style="min-width: 100%">
  {{servedRequest.request | xml}}
</textarea>
</div>

<span class="label label-custom pull-left">Response</span>
<div class="form-group">
  <textarea class="form-control" rows="40" style="min-width: 100%">
  {{servedRequest.response| xml}}
</textarea>
</div>
 
